@media screen {
    body {overflow:auto;}
}

* {
    margin: 0;
    padding: 0;
}

html, body {
         background-image: url(wallpaper_flame_018.jpg);
         background-attachment: fixed;
         font-family: Courier New, serif, Verdana, sans-serif;

        opacity: 1;
}
.mailform{
         margin: auto;
         width: 50%;
         color: white;
}
.mailform #em{
         margin: auto;
         margin-top: 0.5em;
         margin-bottom: 1em;
         width: 100%;
         background-color: #b0e0e6;
}
.mailform #su{
         margin: auto;
         margin-top: 0.5em;
         margin-bottom: 1em;

         width: 100%;
         background-color: #b0e0e6;
}
.mailform #ta{
         margin: auto;
         margin-top: 0.5em;
         margin-bottom: 1em;
         width: 100%;
         background-color: #b0e0e6;
}
.mailform #bt{
         margin: auto;
         width: 100%;
         background-color: #b0e0e6;
}
#loginSkin {
         display: block;
         background-color: hsla(60, 100%, 25%, 0.3);
         opacity: 1;
         width: inherit;
         max-width: 900px;
         height: inherit;
         min-height: 400px;
         /*border: 2px solid silver;*/
         margin: 0 auto;
         margin-top: 200px;
         padding-bottom: 1em;
        /*background-image: url(base_trans.png);*/
        -webkit-box-shadow: 0px 0px 25px #88880f;
        -moz-box-shadow: 0px 0px 25px #88880f;
        box-shadow: 0px 0px 25px #88880f;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
}
#loginSkin p {
         margin: auto;
         font-size: 14px;
         color: white;
         padding-top: 1em;
         padding-bottom: 0.5em;
}
#loginSkin h1 {
         text-align: center;
         width: 100%;
         font-size: 30px;
         padding-top: 20px;
         color: hsl(189,84%,80%);
}
#loginSkin #sbutt  {
        color: black;
        margin: auto;
        margin-top: 30px;
        margin-left: 10px;
        width: 150px;
        height: 30px;
}
.l01{
        padding-left: 10px;
        padding-top: 1em;
}
table {
         display: table;
         border-collapse: separate;
         border-spacing: 2px;
         border-color: gray;
}
table.ref{
         border-collapse: collapse;
         width: 100%;
}
table.ref th{
        color: hsl(189,84%,80%);
        background-color:#555555;
        border:1px solid #555555;
        font-size:12px;
        padding:3px;
        vertical-align:top;
        text-align:left;
}
table.ref td{
        color: hsl(100,100%,100%);
        border:1px solid #d4d4d4;
        font-size:12px;
        padding:5px;
        padding-top:7px;
        padding-bottom:7px;
        vertical-align:top;
}

tbody {
         display: table-row-group;
         vertical-align: middle;
         border-color: inherit;
}
#baseSkin {
    /*background-color: #cccccc;
    opacity: 1;*/
        width: 1150px;
        height: inherit;
    /*border: 2px solid silver;*/
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 50px;
        padding: 0px 20px 20px 20px;
        /*background-image: url(base_trans.png);*/
        -webkit-box-shadow: 0px 0px 25px #88880f;
        -moz-box-shadow: 0px 0px 25px #88880f;
        box-shadow: 0px 0px 25px #88880f;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
}
header, nav, section, aside, footer {
    display: block;
}
header {
        /*background-color: #000000*/
        opacity: 0.8;
        width: 1150px;
        height: 300px;
         /*border: 2px solid silver;*/
        margin: 0 auto;
        margin-top: 20px;
        background-image: url(head_grafic.png);
        /*-webkit-box-shadow: 0px 0px 25px #88880f;
        -moz-box-shadow: 0px 0px 25px #88880f;
        box-shadow: 0px 0px 25px #88880f;*/
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
}
header p {
    /*background-color: #DCD54E;*/
         font-family: Courier New, serif;
         margin: 0 auto;
         text-align: right;
         padding-right: 15px;
}
#donate{
        padding: 20px 20px;

}

#dtxt{
    /*background-color: #DCD54E;*/
        padding-top: 60px;
        padding-right: 15px;
        text-align: right;
        font-size: 20pt;
        color: black;
        text-shadow:  1px  1px 2px white,
                  1px -1px 2px white,
                 -1px  1px 2px white,
                 -1px -1px 2px white;

}
.logotxt {
         padding-top: 60px;
         font-size: 24pt;
         color: black;
         text-shadow:  1px  1px 2px white,
                       1px -1px 2px white,
                      -1px  1px 2px white,
                      -1px -1px 2px white;
}
#navioben{
        /*background-color: #ffccff;*/
          opacity: 0.8;
        width: 700px;
        height: 30px;
         /*border: 2px solid silver;*/
         margin: 0 auto;
         margin-top: 10px;
        -webkit-box-shadow: 0px 0px 25px #88880f;
        -moz-box-shadow: 0px 0px 25px #88880f;
        box-shadow: 0px 0px 25px #88880f;
         -webkit-border-radius: 10px;
         -moz-border-radius: 10px;
         border-radius: 10px;

}
#navioben ul{
        padding-left: 40px;
        list-style-type: none;
}
#navioben li{
        display: inline;
}
#navioben a{
        color: white;
        font-size: 10pt;
        display: block;
        width: 150px;
        float: left;
        text-align: center;
        line-height: 30px;
        text-decoration: none;
}

.pixis{
        margin-top: -110px;
}
.ppp{
        padding-left: 3px;
}
.hw{
         color: yellow;
}
#navilinks {
    /*background-color: #ccffcc;*/
    opacity: 0.8;
        width: 200px;
        height: inherit;
    /*border: 2px solid silver;*/
    margin: 0 0 0 0;
    margin-top: -30px;
        margin-left: 0px;
        padding-bottom: 0.5em;
        /*background-image: url(base_trans.png);*/
        -webkit-box-shadow: 0px 0px 25px #88880f;
        -moz-box-shadow: 0px 0px 25px #88880f;
        box-shadow: 0px 0px 25px #88880f;
    -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    float: left;
}
#navilinks ul {

        padding-top: 1em;
        padding-left: 10px;
        list-style-type: none;
}
#navilinks li{
        padding-bottom: 0.5em;
}
#navilinks a{
        /*background: url(btn_home.png) no-repeat 0px 0px;*/
        font-size: 12pt;
        color: white;
        text-decoration: none;

}
/*#navilinks a:hover{
        background: url(btn_home.png) no-repeat 0px 0px;
        font-size: 10pt;
        color: hsl(100, 0%, 0%);
        text-decoration: none;*/
}
.b01{
        color: white;
}
.b01:hover{
        /*background-color: #ffffff;*/
        color: hsl(100, 0%, 0%);
        opacity: 0.9;
        font-size: 11pt;
        text-shadow: 0 0 5px white,
                 0 0 10px white,
                 0 0 20px blue,
                 0 0 40px blue,
                 0 0 60px blue,
                 0 0 90px blue,
                 0 0 120px blue,
                 0 0 160px blue;
}
.b02{
        color: white;
}
.b02:hover{
        /*background-color: #ffffff;*/
        color: hsla(100, 100%, 80%, 1);
        opacity: 0.9;
        font-size: 12pt;
        text-shadow: 0 0 5px white,
                 0 0 10px white,
                 0 0 20px blue,
                 0 0 40px blue,
                 0 0 60px blue,
                 0 0 90px blue,
                 0 0 120px blue,
                 0 0 160px blue;
}
section {
    background-color: hsla(60, 100%, 25%, 0.3);
    opacity: 1;
        width: 700px;
        height: inherit;
        min-height: 600px;
    /*border: 2px solid silver;*/
    margin: 0 auto;
    margin-top: 10px;
        padding-bottom: 1em;
        /*background-image: url(base_trans.png);*/
        -webkit-box-shadow: 0px 0px 25px #88880f;
        -moz-box-shadow: 0px 0px 25px #88880f;
        box-shadow: 0px 0px 25px #88880f;
    -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
}
section code {
        position: relative;
        padding: 0 .8em;
        left: 30px;
        width: 600px;
        border-left: darkblue 10px solid;
        display: block;
        overflow: auto;
        font-family: monospace;
        font-size: 1em;
        line-height: 2em;
        background: #bbbbbb;
        margin-bottom: 1em;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
}
section i{
        color: darkblue;
}
section hr{
        margin-left: 30px;
        margin-right: 30px;
}
section a>img{
        padding-top: 1em;
        padding-left: 30px;
        padding-bottom: 1em;
                border: none;
}
section video{
        opacity: 1;
        padding-top: 1em;
        padding-left: 30px;
        color: black;
        padding-bottom: 1em;
}
section audio{
        padding-top: 1em;
        padding-left: 30px;
        color: black;
        padding-bottom: 1em;
}
section p>a{
        color: white;
        text-decoration: none;
}
section p{
        padding-top: 0.5em;
        padding-left: 30px;
        padding-right: 30px;
        color: hsl(189,84%,80%);
        padding-bottom: 0.5em;
}
section h1{
        font-size: 22px;
        padding-left: 30px;
        padding-top: 1em;
    padding-bottom: 1em;
        color: hsl(189,84%,80%);
}
section ul{
        /*background-color: #EA09F1;*/
        color: hsl(189,84%,80%);
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 5em;
}
section embed, section object section iframe{
        padding-left: 30px;
        padding-bottom: 2em;
}

.o01{
        padding-left: 30px;
        padding-bottom: 2em;
}

#googleMap{

        top: 10px;
        width: 600px;
        height: 500px;
        margin: 0 auto;
        margin-top: 20px;
        -webkit-box-shadow: 0px 0px 15px #88880f;
        -moz-box-shadow: 0px 0px 15px #88880f;
        box-shadow: 0px 0px 15px #88880f;
}
#panel, #flip{
        cursor: pointer;
        margin: 0 auto;
        margin-top: 30px;
        padding-top: 5px;
        width: 400px;
        height: 22px;
        text-align:center;
        background-color:#e5eecc;
        border:solid 1px #c3c3c3;
        border-radius: 10px;
}
#panel{
        margin: 0 auto;
        height: inherit;
        padding:10px;
        display:none;
}
.atxt{
    color: white;
        text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    letter-spacing: .3em;
        margin-top: 10px;
    margin-left: 30px;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        text-shadow: 0 0 5px white,
                 0 0 10px white,
                 0 0 20px blue,
                 0 0 40px blue,
                 0 0 60px blue,
                 0 0 90px blue,
                 0 0 120px blue,
                 0 0 160px blue;
}

aside {
    float: right;
        /*background-color: #cccccc;*/
    opacity: 0.8;
        width: 200px;
        height: inherit;
    /*border: 2px solid silver;*/
    margin: 0 auto;
    margin-top: -30px;
        margin-right: 0px;
        -webkit-box-shadow: 0px 0px 25px #88880f;
        -moz-box-shadow: 0px 0px 25px #88880f;
        box-shadow: 0px 0px 25px #88880f;
    -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
}

aside p {
    color: white;
        text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    letter-spacing: .3em;
        margin-top: 20px;
    margin-left: 30px;
        padding-top: 0.5em;
        padding-bottom: 1em;
        text-shadow: 0 0 5px white,
                 0 0 10px white,
                 0 0 20px blue,
                 0 0 40px blue,
                 0 0 60px blue,
                 0 0 90px blue,
                 0 0 120px blue,
                 0 0 160px blue;
}

aside img {
    opacity: 1;
        margin-left: 20px;
        margin-bottom: 15px;
        -webkit-box-shadow: 0px 0px 25px #88880f;
        -moz-box-shadow: 0px 0px 25px #88880f;
    box-shadow: 0px 0px 25px #8888ff;
    -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
}

footer {
        /*background-color: #ff55aa;*/
    opacity: 0.8;
        width: 700px;
        height: 30px;
    /*border: 2px solid silver;*/
    margin: 0 auto;
    margin-top: 10px;
        /*background-image: url(base_trans.png);*/
        -webkit-box-shadow: 0px 0px 25px #88880f;
        -moz-box-shadow: 0px 0px 25px #88880f;
        box-shadow: 0px 0px 25px #88880f;
    -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        font-size: 10pt;
}
footer a{
        display: block;
        text-align: center;
        padding-top: 6px;
        color: white;
        text-decoration: none;
}
footer a:hover{
    color: white;
        text-decoration: none;

}
